#view {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100px;
    background-color: var(--dark-purple);
    justify-content: end;
}

#view-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    align-items: end;
    min-height: 0px;
}

#input-area {
    height: 50px;
    margin-top: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--dark-purple);
}

#input-area>form {
    height: 100%;
    padding: 5px 20px;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-pink);
    border-radius: 20px;
    color: white;
}

#input-area>form>span {
    font-size: 2.2rem;
}

#input-text {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    flex-grow: 1;
    font-size: 1.3rem;
    border: none;
    outline: none;
    color: white;
    background-color: var(--dark-pink);
}

#input-text:focus {
    border: none;
    outline: none;
}

#submit {
    width: auto;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 0px 10px;
    outline: none;
    border: none;
    color: black;
    background-color: var(--yellow);
    transition: .01s;
}

#submit:hover {
    transform: scale(1.08);
}

#submit:active {
    transform: scale(.98);
}

.dialogue {
    margin: 5px;
    padding: 10px;
    max-width: 65%;
    background-color: var(--yellow);
    color: black;
    font-weight: 600;
    border-radius: 10px;
    overflow-wrap: break-word;
    text-align: end;
}

.command {
    color: var(--dark-pink);
}

.options {
    margin: 0px;
    color: cadetblue;
}

.direction {
    color: var(--dark-purple);
}

.left {
    align-self: flex-start;
    text-align: start;
}